.container{
    background-color: #DBCEC8;
    
    /* overflow:hidden; */
    min-height: 100%;
    min-width:100vw;
    padding-left: 20px;
    padding-right: 20px;

    
    
  }
  .container2{
    
    height:auto;
    min-width: 100%;
    
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
  }
  .colDesign{
    background-color: #d8b4b4;
    border-radius: 20px;
    color: black;
    font-weight:900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px;
    height: 30vh;
    width: 25vw;
    border:0.3px solid rgb(107, 100, 100);
    border-radius: 1rem;
    box-shadow:
    inset 0 -2em 2em rgba(188, 206, 188, 0.3),
    0 0 0 0.2px rgb(226, 195, 195),
    0.3em 0.3em 1em rgba(170, 162, 162, 0.6);
    
    

  }
  @media screen and (max-width: 1062px){
    .container2{
    
        height:auto;
        min-width: 100%;
        
        padding: 30px;
        justify-content: center;
        flex-wrap: wrap;
        
        
        
      }
      .colDesign{
        background-color: #d8b4b4;
        
        color: black;
        font-weight:900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin:20px;
        height: auto;
        width: 80vw;
        border-radius: 1rem;
        box-shadow:
        inset 0 -2em 2em rgba(188, 206, 188, 0.3),
        0 0 0 0.2px rgb(226, 195, 195),
        0.3em 0.3em 1em rgba(170, 162, 162, 0.6);
        border:0.3px solid rgb(107, 100, 100);
        
        
    
      }
    }


    .colDesign:hover{
      scale: 1.01;
      transition-duration: 500ms;
      transition: ease-in-out;
      background-color: #c9abab;
      cursor: default;
    }