.Nav{
  min-width: 100%;
  

}
.isteLogo {
  height: auto;
  margin-top: -10px;
  width:5rem;

}
.navElements {
  background-color: #5f185a;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 20px;
  
  
}
.navLinks {
  display: flex;
  gap:30px;
  
  font-size: 20px;
  color: white;

}
